was used for global directory code

<!-- <div
  class="hero-section"
  style="
    margin-top: 40px;
    background-color: #fcfcfc;
    border: 2px solid #ddd;
    padding: 25px;
  "
>
  <h3
    style="
      border-bottom: 2px solid #ccc;
      padding-bottom: 5px;
      color: #444;
      text-transform: uppercase;
    "
  >
    Global Database Directory
  </h3>
  <p
    style="
      font-family: monospace;
      font-size: 12px;
      color: #777;
      margin-top: 10px;
      margin-bottom: 20px;
    "
  >
    SYSTEM LOG: Displaying all bots across all organizations.
  </p>

  {% if all_bots %}
  <div
    style="
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    "
  >
    {% for bot,creator_name, org_name in all_bots %}
    <div style="border: 1px solid #ccc; padding: 15px; background: #fff">
      <strong style="font-size: 15px; text-transform: uppercase; color: #000"
        >{{ bot.bot_name }}</strong
      >

      <div
        style="
          font-family: monospace;
          font-size: 11px;
          margin-top: 8px;
          color: #666;
          line-height: 1.4;
        "
      >
        <span style="color: #000">ORG NAME:</span> {{ org_name }} <br />
        <span style="color: #000">CREATOR NAME:</span> {{ creator_name }}
      </div>

      {% if bot.org_id != session.get('org_id') %}
      <div
        style="
          font-family: monospace;
          font-size: 11px;
          margin-top: 10px;
          color: #d93025;
          font-weight: bold;
          padding-top: 10px;
          border-top: 1px dashed #ccc;
        "
      >
        [ ENCRYPTED / KEY ACCESS ]
      </div>
      {% else %}
      <div
        style="
          font-family: monospace;
          font-size: 11px;
          margin-top: 10px;
          color: #28a745;
          font-weight: bold;
          padding-top: 10px;
          border-top: 1px dashed #ccc;
        "
      >
        [ ACCESSIBLE ]
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p style="font-family: monospace; color: #999">> Network empty.</p>
  {% endif %}
</div> -->
